<head>
<title>ScriptBreaker.com - JQuery vertical tabmenu</title>

<script type="text/javascript" src="jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="vert_tabs_helper.js"></script>
</head>
<body>
 <div class="tabscontainer">
     <div class="tabs">
         <div class="tab selected first" id="tab_menu_1">
             <div class="link">JavaScript</div>
             <div class="arrow"></div>
         </div>
         <div class="tab" id="tab_menu_2">
             <div class="link">CSS</div>
             <div class="arrow"></div>
         </div>
          <div class="tab last" id="tab_menu_3">
             <div class="link">JQuery</div>
             <div class="arrow"></div>
         </div>
    </div>
	<div class="curvedContainer">
		<div class="tabcontent" id="tab_content_1" style="display:block">
			<strong>JavaScript</strong>, also known as ECMAScript,[6] is a prototype-based, obj
			<br><br>
			JavaScript is an implementment.
			<br><br>
			JavaScript's use
			<br><br>
			JavaScript use	</div>
		<div class="tabcontent" id="tab_content_2">
			<strong>Cascading Style Sheets (CSS)</strong> is a style sh.
			<br><br>
			hoodle boodle
		</div>
		<div class="tabcontent" id="tab_content_3">
			<strong>jQuery</strong> poopers
			<br><br>
			muffins
			<br><br>
			gobble gobblee
		</div>
	</div>
</div>
</body>




